<div class="row">
  <ul id="playercards">
    <% @issues.each do |issue| %>
      <li class="col-md-4">
        <%= image_tag issue.avatar.url(:medium) %>

        <div class="playerinfo">
           <h2><%= link_to issue.title, issue %></h2>
           <!--<h5><%#= time_ago_in_words(issue.created_at) %> ago</h5>-->
        </div>
      </li> 
    <% end %>
  </ul>
</div>


<p><%= link_to 'New Issue', new_issue_path, class: 'btn btn-primary' %></p>
<!-- <h5><%#= time_ago_in_words(issue.created_at) %> ago</h5>
<p><%#= link_to 'Edit', edit_issue_path(issue) %>
        <%#= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->